
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let cardetail of cardetails let i=index" [ngClass]="getSliderClassName(i)" >
      <img width="300" height="300" src="https://localhost:44331/images/{{cardetail.imagePath}}"  class="d-block w-100" alt="{{cardetail.imagePath}}">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<ul>
  <li >ssdsd

  </li>
</ul>