<h3>Arabalar</h3>
<div *ngIf="dataloaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataloaded==true" class="table table-striped">
    <thead>
        <tr>
    
            <th>Marka</th>
            <th>Renk</th>
            <th>Model</th>
            <th>Açıklama</th>
            <th>#</th>
       

        </tr>
    </thead>
    <tbody>
        <tr   *ngFor="let car of cars" [routerLink]="['/cardetails',car.id]" >
            <td >{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.description}}</td>     
            <td>{{car.id}}</td>   
        </tr>
    </tbody>
</table>